[logging]
log_level = "info" # trace, debug, info, warn, or error (default: info)
log_type = "json"  # text or json (default: text)
with_timer = false  # include timestamps in logs (default: false)

[agent]
interface = "changeme" # network interface to monitor
mode = "xdp"   # xdp or tc (default: xdp) (xdp only sniff ingress traffic using a physical interface)
listen_port = 0  # port to listen for incoming connections (default: 0 which means track each port)
exclude_ports = []  # list of ports to exclude from monitoring (default: [])
enable_udp = false  # enable UDP monitoring (default: false)
enable_tcp = true  # enable TCP monitoring (default: false)
enable_icmp = false  # enable ICMP monitoring (default: false)
enable_arp = false  # enable ARP monitoring (default: false)
log_interval = 5  # How often same src_ip:port dst_ip:port connections are logged in seconds (default: 5). 0 means log every connection.