services:
  promtail:
    image: docker.io/grafana/promtail:latest
    restart: unless-stopped
    security_opt:
      - seccomp=unconfined
    network_mode: host
    volumes:
      - ${PWD}/promtail/config.yml:/etc/promtail/config.yml:ro
      - /var/log/nflux/lastlog:/tmp/nflux.log:ro
      - ${PWD}/promtail/geoip/GeoLite2-City.mmdb:/usr/share/GeoIP/GeoLite2-City.mmdb
    container_name: promtail
    command: -config.file=/etc/promtail/config.yml
