[Unit]
Description=Network monitoring and firewall using eBPF
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
ConditionPathExists=|/etc/nflux/nflux.toml

[Service]
ExecStart=/usr/local/bin/nflux
Restart=on-failure
User=root
Group=root
StandardOutput=file:/tmp/nflux.log
#StandardError=file:/tmp/nflux.log

[Install]
WantedBy=multi-user.target
