[Unit]
Description=Network monitoring and firewall using eBPF
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
ConditionPathExists=/etc/nflux/nflux.toml

[Service]
ExecStart=/usr/local/bin/nflux
Restart=on-failure
PIDFile=/run/nflux.pid
User=root
Group=root
# StandardOutput=journal
# StandardError=journal
StandardOutput=file:/var/log/nflux/nflux.log
StandardError=file:/var/log/nflux/nflux.log

# Other
#EnvironmentFile=/etc/nflux/nflux.env

[Install]
WantedBy=multi-user.target
