[package]
name = "nflux-common"
version = "0.1.0"
edition = "2021"
publish = false

[features]
default = []
user = ["aya"]

[dependencies]
aya = { workspace = true, optional = true }

[lib]
path = "src/lib.rs"
