[package]
name = "nflux-common"
version = "0.1.0"
edition = "2024"

[features]
default = []
user = ["aya"]

[dependencies]
aya = { workspace = true, optional = true }
aya-ebpf = { workspace = true }

[lib]
path = "src/lib.rs"
