name: Compilar Paquete Arch
on: [push]

jobs:
    build-arch-package:
        runs-on: ubuntu-latest

        container:
            image: archlinux/archlinux:latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Prepare build environment
              run: |
                  pacman -Sy --noconfirm base-devel git

            - name: Install PKGBUILD dependencies
              run: makepkg -s --noconfirm --skippgpcheck

            - name: Build package
              run: cd packaging/ && makepkg --noconfirm --skippgpcheck

            - name: Upload Package Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: arch-package
                  path: "*.pkg.tar.zst"
