name: Compilar Paquete Arch Limpio
on: [push]

jobs:
    build-arch-package:
        runs-on: ubuntu-latest

        container:
            image: archlinux/archlinux:latest

        steps:
            - uses: actions/checkout@v4

            - name: Create non-root user
              run: |
                  useradd -m builder
                  echo "builder ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/builder

            - name: Install base dependencies as root
              run: |
                  pacman -Sy --noconfirm base-devel git

            - name: Run makepkg as non-root user
              run: |
                  chown -R builder:builder $GITHUB_WORKSPACE
                  sudo -u builder bash -c "cd packaging && makepkg -s --noconfirm --skippgpcheck"

            - name: Upload Package Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: arch-package
                  path: "*.pkg.tar.zst"
