name: Deploy Sphinx Docs to GitHub Pages

permissions:
    contents: write
    pull-requests: write

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.x"

            - name: Install dependencies
              run: |
                  pip install sphinx sphinx-rtd-theme
                  # Si tienes dependencias específicas para tu documentación, añádelas aquí:
                  # pip install -r docs/requirements.txt

            - name: Sphinx Build
              run: make html
              working-directory: ./docs

            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./docs/build/html
