name: Test

on:
  pull_request:
  push:
    paths:
      - "**.rs"
      - .github/workflows/test.yml
    branches:
      - "**"
    tags:
      - "*.*.*"

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            target: x86_64-unknown-linux-gnu

          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "nflux-ebpf-v1"
          cache-all-crates: true
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Dependencies
        run: |
          sudo apt-get update && sudo apt-get -y install -y protobuf-compiler
          rustup install stable && rustup toolchain install nightly --component rust-src
          rustup target add ${{ matrix.target }} --toolchain nightly
          rustup default nightly
          cargo install bpf-linker
          cargo install cargo-nextest --locked

      - name: Run cargo test
        run: cargo test --locked --target ${{ matrix.target }} --no-default-features
